.nav {
  /* Even scrolling the nav remains */
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 18px;
  z-index: 10;

  /* Add animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.logo {
  width: 200px;
  /* Adjust the height respecting the aspect ratio */
  object-fit: contain;
}

.nav_black {
  background-color: #112;
}

.search-button {
  width: 29px;
  object-fit: contain;
  margin-top: -5px;
  margin-right: 40px;
  background-color: white;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("../Images/handLens.svg");
}
