.title {
  margin-left: 20px;
  color: white;
}

.row_posters {
  /* Put the posters side by side */
  display: flex;
  /* Allow scrolling the single row */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* This tell browsers to not show scrollbar */
.row_posters::-webkit-scrollbar {
  display: none;
}

.poster {
  /* -ms-content-zoom-snap-points: ; keeps the aspect ratio */
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 400ms;
}

.poster:hover {
  /* Animation to highlight the element where the mouse is on */
  transform: scale(1.09);
}

/* =================================================== */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.player-wrapper {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%) scale(1.5);
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: transparent;
  width: 40px;
  object-fit: contain;
}
